body {
    color: #444444;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #333;
}

p {
    font-size: 14px;
}




header h1 {
    font-size:30px;
    font-weight: 700;
}


header {
    padding-bottom:2vh;
    padding-top: 2vh;
    border-bottom:solid 3px #eee;
    box-sizing:border-box;
}

.login-form {
    text-align:center;
}

input[type=text] {
    border:none;
    border-bottom:solid 1px #eee;
    padding:5px 10px;
}

input[type=submit] {
    background-color:#333;
    border:none;
    color:#eee;
    padding:5px 10px;
    cursor:pointer;
}


input[type=submit]:hover {
    color:#333;
    background-color:#eee;
}

.message-box {
    padding: 20px;
    box-sizing: border-box;
}

.message-box.error-box {
    border: solid 1px #b90000;
}

.info-box h1,
.message-box h1 {
    font-size:20px;
    font-weight:500;
    margin-bottom:10px;
}

thead th {
    padding: 5px 10px;
    box-sizing: border-box;
    border-bottom: solid 1px #ccc;
}

thead {
    background-color: #eee;
    padding: 5px;
}

tr td {
    padding: 5px 10px;
    border-bottom: dotted 1px #eee;
}


a.info-icon {
    display: block;
    width: 20px;
    background-color: #333;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-family:"Times New Roman";
}


.info-box {
    padding-bottom:2vh;
    padding-top: 2vh;
}

pre.modal-code {
    font-size:10px;
}

.menu {
    float:right;
}

.ban-ip-address {
    color:#b90000;
}


.menu .active {
    font-weight:700;
}

.pagination {
    margin-top:1rem;
}

.pagination li.current-page {
    background-color: #eee;
}

.pagination li.disabled a {
    font-weight: normal;
    opacity: 0.4;
}